@tailwind base;
@tailwind components;
@tailwind utilities;

.venta-carrito-cantidad::-webkit-inner-spin-button,
.venta-carrito-cantidad::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.venta-carrito-cantidad {
  -moz-appearance: textfield; /* Firefox */
}